[2015-06-01 09:16] huston007 opened #2 "Remove phantomjs dependency"
Hello. First of all, thank you for a great util for testing chrome API related code.

But I don't use phantom in my tests. That's why I ask you to remove PhandomJS peer dependency from your package.json - I don't want to store it.

[2015-06-28 17:54] tfoxy opened #3 "npm installation problem"
Version 0.1.1 from npmjs is broken. It throws the following error when it is executed:

[code]

The package.json is different from the one here in github. The main property value is "chrome.js" instead of "src/chrome.js". This file exists. But, as the error shows, it doesn't find the chrome-event module in the root folder. The chrome-event module is inside the src folder.

Version 0.1.0 doesn't ha

[2015-06-30 13:52] vitalets commented on #2
removed.
thanks!

[2015-06-30 13:52] #2 closed

[2015-06-30 13:53] vitalets commented on #3
fixed in 0.1.2
thanks!

[2015-06-30 13:53] #3 closed

[2015-06-30 14:17] huston007 commented on #2
@vitalets great!

[2015-07-08 22:23] huston007 commented on #2
@vitalets Please publish update to NPM.

[2015-07-10 17:45] vitalets commented on #2
Hmm, it's already done.
What is output of your `npm show sinon-chrome` ?

[2015-07-14 20:33] Stephn-R opened #5 "Example no longer works"
I ran it on my machine after an npm install and got this

[code]

[2015-07-15 14:59] vitalets commented on #5
I will check, thanks!

[2015-07-16 17:41] vitalets commented on #5
fixed in 0.2.1.

[2015-07-16 17:41] #5 closed

[2015-08-27 21:01] forgetso commented on #5
Hi, I've followed these steps

`git clone https://vitalets/sinon-chrome
`cd sinon-chrome
`npm install
`npm install mocha
`npm install grunt
`npm install chai
`cd example
`npm test

and I get the same error as above

~/sinon-chrome/example
(1:2123)$ npm test

TypeError: 'undefined' is not a function (evaluating 'self.epilogue.bind(self)')

  ../node_modules/mocha/mocha.js:4044 in Spec
  ../node_mod

[2015-09-29 05:52] dbaba opened #7 "Phantom JS 2.0.0 seems to ignore AssertionError"
Hi,
I've been using sinon-chrome 0.2.1 with PhantomJS 2.0.0 on node v0.12.6 and I got stuck on an issue where PhantomJS silently ignored chai's assertion errors, i.e. tests were always successful...
Fortunately, I've been able to fix it by overriding a function `evaluate` in a webpage object  created by phantomjs but I'm not sure if it is a right resolution.

Please review my workaround when you h

[2015-10-06 20:15] BigBlueHat opened #8 "License?"
First, thanks so much for making this! I was in the process of mocking all the chrome.* bits that I needed, but it looks like you've already done that! Much thanks. :smile_cat:

Second, I wondered if you could add a `LICENSE` file and/or `license` declaration in the `package.json` file. Without that--at least in the US--this library is essentially All Rights Reserved.

MIT, BSD, or Apache are pret

[2015-10-08 14:33] sk- opened #9 "Add support for chrome.runtime.lastError"
Currently there's no support for `chrome.runtime.lastError`.

After importing `sinon-chrome` what I'm doing is the following:

[code]

Feel free to grab that code.

[2015-11-09 11:33] acvetkov commented on #8
Hi, @BigBlueHat .
Thanks for your issue. I've updated license field in package.json
https://github.com/vitalets/sinon-chrome/blob/master/package.json#L39

[2015-11-09 11:33] #8 closed

[2015-11-13 13:21] acvetkov commented on #9
Hi!

Thank for issue.
We have supported chrome properties since version 1.0.
Please, update your dependencies.

You can do

[code]

Note: in v.1.0 we remove all predefined props and behaviors

[2015-11-13 14:09] sk- commented on #9
Note that the current support of `chrome.runtime.lastError` does not help in complex cases, as you can only set one value.

If you want for example that the call to `chrome.tabs.create` succeeds and then the call to `chrome.storage.local.get` to fail then you would need to do something like what I first posted.

[2015-11-13 14:20] acvetkov commented on #9
@sk-  yes, you are right. Do you want to create pull request?

[2015-11-13 14:41] sk- opened #11 "Cannot import sinon-chrome with webpack"
When I try to require the new version `1.0.0` with webpack I get the following error.

[code]

[2015-11-14 08:43] acvetkov commented on #11
Hi.

It's legendary problem =).
Check out this issue in webpack repo
https://github.com/webpack/webpack/issues/304

This problem is related with incorrect sinon exports module interface, you should load sinon "manually" to solve it.

[2015-11-14 09:56] sk- commented on #11
I'm not sure that is the problem. I'm using version 2.0 of sinon from
github and I did not have any troubles when requiring the previous version
of sinon chrome with webpack.
On Nov 14, 2015 5:43 AM, "Aleksey Tsvetkov" <notifications@github.com>
wrote:

[2015-11-14 17:25] acvetkov commented on #11
@sk-, Because we have bundled sinon-chrome by webpack since 1.0 version.

In version < 1.0, we have not build with resolving dependencies, only js files concatination.

I think, I can fix our webpack config to solve this problem.

But you should know, you can do it in your project webpack config. Just fix loader for sinon module.

[2015-11-16 08:52] acvetkov commented on #11
@sk- Can you change your webpack config?
Add rules

[code]

You should install `sinon` before

[2015-11-18 07:45] acvetkov opened #12 "Append reset and resetBehavior methods to namespace scope"
It will be very conveniently If I can reset/resetBehavior all stubs in namespace scope.

For example

[code]
is equals to
[code]

and

[code]
is equals to

[code]

[2015-11-18 07:49] acvetkov commented on #7
@dbaba Is this issue actual?

[2015-11-23 15:42] tvpavan opened #13 "Example in Readme.md to test messaging"
It would be good, if we have an example to test message passing. Most of the plugins have a postMessage and onMessage callbacks.
eg.
chromeobject.postMessage("hello")
chromeobject.onMessage.AddListener(function(data){
  console.log(data)
})
A call to postMessage or message needs to trigger callback registered via onMessage.AddListener.

[2015-11-23 19:50] acvetkov commented on #13
@tvpavan, hi!

Yes, it's good idea, but you can test message passing like usual chrome events.

For example

[code]

Another example

[code]

[2015-11-23 19:57] tvpavan commented on #13
Thansk @acvetkov . I will go with chrome.runtime.onMessage.trigger(1, 2, 3) method. Was wondering if a specail stub / spy can do a  "on"+methodName.captializeFirstLetter().trigger so that main app code needn't be changed for testing.

[2015-11-24 08:01] acvetkov commented on #13
@tvpavan, can you write example for this case? I don't understand for what reason your app code need to be changed.

[2015-11-24 08:18] tvpavan commented on #13
To test our background.js i am simulating an user click as chrome.browserAction.onClicked.trigger() from test script. Code of background.js uses postMessage and has AddListener calls on tab ports to communicate with our injected content script on tabs.
I can change the code of background.js as
 if(testmode)
{
   chrome.tabs.connect(id).onMessage.trigger({data:"hello"});
} else {
   chrome.tabs.con

[2015-11-25 10:27] acvetkov commented on #13
I think, it's not TDD way.
You should test your background page apart from content-script.

In background you should make sure that port object send correct message to content-script.
In content script you should make sure that it works correct with correct input params.

For example

[code]

Let's test it

[code]

Content script

[code]

test

[code]

[2015-11-29 10:46] #13 closed

[2015-11-29 10:47] #11 closed

[2015-11-29 10:47] #7 closed

[2015-12-10 14:15] vitalets opened #14 "Usage example"
It would be convenient to have full example with extension and tests (similar to described here http://stackoverflow.com/a/26779746/740245)

[2015-12-11 06:44] raisen opened #15 "chrome.storage.local.get not calling the callback"
When I invoke `chrome.storage.local.get (string key, function callback)`, callback doesn't seem to be called. Is it supposed to be called?

[2015-12-11 08:32] acvetkov commented on #15
@raisen hi!

We have supported `chrome.storage` namespace since 1.0.0 version.
I have no problems with it.

[code]

Can you show me your test case?

[2015-12-12 01:50] raisen commented on #15
Oh, I see, I thought there was a dummy storage service implemented, but I have to specific that yields to a value first. Got it, thank you!

[2015-12-12 01:50] #15 closed

[2015-12-15 10:35] joanne254 opened #16 "No support from chrome.system.display"
Should probably be added, it's a pretty useful one!
Possible?

[2015-12-15 12:54] acvetkov commented on #16
@joanne254 hi!

Thanks for issue. I'll add `chrome.system.display` namespace in 30 minutes =)

[2015-12-15 13:00] acvetkov commented on #16
https://github.com/acvetkov/sinon-chrome/pull/17

[2015-12-15 13:02] joanne254 commented on #16
Great. Thanks!

[2015-12-15 13:07] acvetkov commented on #16
@joanne254 update your sinon-chrome deps.
[code]

It should works.

[2015-12-15 13:07] #16 closed

[2015-12-15 13:07] acvetkov commented on #16
Fell free to create pull request =)

[2016-01-05 21:31] abloom opened #24 "Link to built sinon-chrome.js in README is invalid"
The link to the pre-built `sinon-chrome.js` in the README is no longer valid.

Would it be possible to include a final `sinon-chrome.js` file in each published npm module? Right now I'm finding it tricky to have consistency with `sinon-chrome.js` in both my Node.js and and PhantomJS tests. It would be very convenient to use the same npm install for both environments without having to run webpack o

[2016-01-06 08:37] acvetkov commented on #24
Hi.

Thanks for issue. I will fix readme file in few hours. Now you can take actual sinon-chrome bundle from release page

[2016-01-11 08:21] acvetkov commented on #14
Usage example
https://github.com/acvetkov/sinon-chrome/wiki/Usage-example

Cookie plugin
https://github.com/acvetkov/sinon-chrome/wiki/Cookie-plugin

[2016-01-11 08:21] #14 closed

[2016-01-11 08:35] acvetkov commented on #24
Link for to `sinon-chrome` bundle is correct.
I have excluded `sinon-chrome` bundle from git index last month, because it mess up git diffs.

[2016-01-11 08:35] #24 closed

[2016-01-31 10:20] acvetkov opened #26 "chrome.flush does not flush withArgs stubs"
[code]

But if we flush stubs, which has withArgs behavior, `chrome.flush` does not work.

[code]

[2016-01-31 10:30] #26 closed

[2016-04-20 18:25] webkhung opened #29 "How to run the example code?"
Hi, I am new to Javascript testing.  I have a chrome plugin and I want to write some unit tests to it.

I tried your "Usage example" but couldn't get the testing part to work.  I don't know where to put the reference to the "sinon-chrome.latest.js".  Also, how do I know if the tests are run?  I am very confused on how sinon knows that it needs to run background.test.js and popup.test.js.  And wher

[2016-04-21 06:29] vitalets commented on #29
I agree. We should add ready-to-use example to the project or create another `sinon-chrome-example` repo.

[2016-04-22 23:05] io-monad opened #30 "How to override stubbed methods?"
Hi, thank you for awesome module!

I have been trying to override a stubbed method provided by sinon-chrome with my implementation to simulate `chrome.runtime.lastError` set inside the method.

Is there any officially-recommended way to override stubbed methods?

----

### What I have tried

I'll write down here what I have tried for overriding methods just FYI.

#### NG: Assigning a function

Fir

[2016-04-25 09:07] acvetkov commented on #30
@io-monad, hi.

Thank you for issue.
Unfortunately, `sinon-chrome` does not support chrome api method overriding now.
I am not completely sure that you needs it.

@vitalets what do you think about?

[2016-04-25 09:31] acvetkov commented on #29
@webkhung you can use any test environment.

For example, [mocha](http://mochajs.org/) + [chai](http://chaijs.com/). You should read how it works before. `sinon-chrome` is just stub lib for chrome api methods.

Let's write simple module.

[code]

Let's test it. Install before

[code]

Our test

[code]

Write test run configuration. In your `package.json` add script

[code]

Now, you can run your t

[2016-04-25 09:39] vitalets commented on #30
Is not this work?
[code]
but anyway it also looks not obvious and needs manual reset / restore.

I suggest to add `chrome._stub()` method that behave like sinon's one but allows to overwrite stubs.
[code]

[2016-04-25 14:03] webkhung commented on #29
@acvetkov Thank you very much for your reply.  I am a newbie in JS testing, your reply definitely help.  I will try that! Thanks again.

[2016-04-25 15:27] #29 closed

[2016-05-05 21:45] RichardWright opened #31 "Promises?"
Hi!

I'm going to rewrite a library I wrote using sinon-chrome. It will make the tests so much better! However I was also hoping to use your chrome promise library 'then-chrome' - Would that be possible?

[2016-05-06 09:10] acvetkov commented on #31
@RichardWright hi!
Did you mean, if you rewrite your app with then-chrome lib, sinon-chrome tests will works?

[2016-05-06 13:00] RichardWright commented on #31
I should rephrase that - I was very tired when I wrote it.

I've written a chrome plugin and having seen a couple of libraries for converting the chrome api to promises, it seemed like a great time for a rewrite. I unit tested it with jasmine and I feel I can do much better with mocha and sinon.

I can see I am perhaps being stupid and that all I need to do is stub the promises returned from your

[2016-05-06 15:02] acvetkov commented on #31
@RichardWright Use [sinon-chrome](https://github.com/acvetkov/sinon-chrome) and [then-chrome](https://github.com/acvetkov/then-chrome) and you will be happy.

[2016-05-07 15:22] #31 closed

[2016-05-12 02:14] zkendall opened #32 "Google Apps"
Any plan to add [Apps](https://developer.chrome.com/apps/api_index) features? For example: https://developer.chrome.com/apps/fileSystem

[2016-05-12 08:32] acvetkov commented on #32
@zkendall, hi!

Yes, I want to support apps features.
Do you want to create pr?

[2016-05-15 23:57] zkendall commented on #32
Cool. Well, I'm pretty new to the JS ecosystem. Currently I'm manually mocking out what I need. If that ends up not being enough, I'll dip into sinon and contribute it here.

[2016-06-05 16:11] RichardWright opened #33 "sinon-chrome with then-chrome"
I can't get the sinon-chrome stubs to return when using promises. Any ideas??

The test itself:

[code]

Code to test:

[code]

[2016-06-05 18:27] RichardWright commented on #33
Ok this works in the browser, but not with node.

[2016-06-05 20:22] RichardWright commented on #33
I've got this code working in the browser, but in node..still bust.

[2016-06-06 10:34] acvetkov commented on #33
@RichardWright, thanks for issue.
Can you try to handle promise catch?

[code]

[2016-06-23 10:11] #33 closed

[2016-07-19 17:01] tswast commented on #30
Could we update the README? The [Difference from 0.2 section](https://github.com/acvetkov/sinon-chrome#difference-from-02-version) makes it sound like we can and should override by assigning the function.

[code]

[2016-07-19 19:18] acvetkov commented on #30
@tswast you are right, I'll fix readme

[2016-08-08 13:25] cauboy opened #34 "How to test event listeners on the port object?"
Hey,
thanks a lot for this repo. It really helps.
One question: Is there actually a way to test event listeners on the port object. How would one test the following code?

[code]

Cheers.
Clemens

[2016-08-08 15:08] acvetkov commented on #34
@cauboy, hi!

Unfortunately, we does not support port objects.
Feel free to create pull request.

[2016-08-09 19:44] cauboy commented on #34
Thought so, just wanted to be sure :)

[2016-08-27 01:35] herodrigues opened #37 "Karma configuration"
I know that there is a karma sinon-chrome wrap, but I could not find any reliable solution to what I'm looking for. I'm getting this error:

[code]

My spec file
[code]

I installed sinon-chrome and karma-sinon-chrome via npm. My karma config file:

[code]

[2016-08-27 06:49] acvetkov commented on #37
Hi, @herodrigues .
https://github.com/9joneg/karma-sinon-chrome/issues/3

[2016-08-27 15:24] 9joneg commented on #37
[https://github.com/sinonjs/sinon#important-sinon-v1x-does-not-work-with-amdcommonjs-bundlers](https://github.com/sinonjs/sinon#important-sinon-v1x-does-not-work-with-amdcommonjs-bundlers)

[2016-08-28 11:31] herodrigues commented on #37
So, there is no solution yet?

[2016-08-28 13:38] acvetkov commented on #37
So, we should wait sinon 2 stable version (now 2.0.0-pre.2).

[2016-08-28 15:55] herodrigues commented on #37
Thanks @acvetkov.

I followed your instructions here: https://github.com/acvetkov/sinon-chrome/issues/11

[2016-08-29 14:38] acvetkov commented on #37
https://github.com/acvetkov/sinon-chrome/issues/11

[2016-08-29 14:38] #37 closed

[2016-08-30 14:42] herodrigues opened #38 "How to test chrome.browserAction functions?"
I've read the examples and everything else but I'm still confused on how to use sinon-chrome.
The extension I'm building has a lot of communication between content and background scripts.

For example, when a user access some webpage (defined in my match rules), the extension icon must become active. Moreover, if the icon is clicked, a sidebar should open.

Currently, I'm trying to do something li

[2016-08-31 08:07] acvetkov commented on #38
Hi.

1. You should not wrap `chrome.browserAction` methods in spies. They are already spies.
2. `sinon-chrome` is not emulation of real chrome api. It's only [sinon-stubs](http://sinonjs.org/docs/#stubs) and event emitters

[2016-08-31 11:12] herodrigues commented on #38
Thanks @acvetkov

[2016-08-31 11:12] #38 closed

[2016-08-31 13:09] #34 closed

[2016-09-16 15:46] Standard8 opened #40 "Please consider supporting Firefox's WebExtensions"
Firefox is currently implementing web extensions - these are pretty much the same as the `chrome.*`, although there are a few differences.

Firefox has created the `browser.*` namespace which is virtually the same as the `chrome.*` space. There are two differences:

- `browser.*` will gain Firefox specific extensions.
- `browser.*` uses promises rather the callbacks.

More information:

- https://

[2016-09-16 15:54] vitalets commented on #40
@Standard8 great point!

[2016-09-16 16:14] kumar303 commented on #40
One way that would allow this library to keep up with new APIs and API changes (which are probably a bit rare) is to parse schema files. Had you considered that?

Here is an example of the bookmarks API:
* Chrome: https://chromium.googlesource.com/chromium/src/+/master/chrome/common/extensions/api/bookmarks.json
* Firefox: http://searchfox.org/mozilla-central/source/browser/components/extensions/s

[2016-09-19 22:20] CrazyPython opened #41 "How to test if extension is loadable"
loadable = on "reload" no yellow box with error

[2016-09-20 06:52] acvetkov commented on #41
@CrazyPython, hi.

What do you mean? Are you talk about invalid manifest?
Can you attach an example?

[2016-09-21 00:08] CrazyPython commented on #41
@acvetkov yes, invalid manifest, esp. no file present

[2016-09-21 07:50] acvetkov commented on #41
Probably, you missunderstand something.
`sinon-chrome` does not validate manifest, it's helper tool for testing your code.

[2016-09-22 07:34] #41 closed

[2016-09-22 20:56] CrazyPython commented on #41
@acvetkov what other tool to use then? or can this be implemented?

[2016-09-23 14:23] vitalets commented on #41
@CrazyPython
I think the first approach can be verifying that manifest is correct json file, e.g.
[code]

[2016-09-23 21:10] CrazyPython commented on #41
@vitalets That is obvious - but surely if chrome can't load it sinon also can't?

[2016-09-24 06:47] vitalets commented on #41
I think not. Sinon-chrome currently does not use manifest now.

[2016-09-24 18:42] herodrigues opened #42 "Spy callbacks"
Couldn't find anything related in the examples, but how can overcome this situation?

[code]

I want to spy chrome.tabs.query callback.

[2016-09-26 08:22] acvetkov commented on #42
@herodrigues

[code]

[2016-09-26 11:25] herodrigues commented on #42
thanks @acvetkov

[2016-09-26 11:25] #42 closed

[2016-09-26 14:01] acvetkov commented on #40
@Standard8 hi.

Why you can not use `sinon-chrome` for FF web-extensions testing?

[code]

[2016-10-03 11:14] Standard8 commented on #40
@acvetkov Whilst that is possible, the browser namespace has different APIs to the chrome namespace, so simply duplicating the chrome one isn't likely to be correct - and could lead to code that runs tests fine still being wrong as the API isn't there.

[2016-10-03 12:59] acvetkov commented on #40
@Standard8 Ok. I'll implement schema files for chrome and FF webextensions

[2016-10-07 07:44] acvetkov commented on #32
@zkendall Hi.

Good news for you.

Since v.2.0 we have supported chrome apps api.

[code]

[2016-10-07 07:44] #32 closed

[2016-10-12 06:27] zhaiduo opened #46 "chrome.js is missing?"
It seems chrome.js not in sinon-chrome folder, where I can find this file?

` page.injectJs(node_modules + 'sinon-chrome/chrome.js');`

I need it to test chrome extension. Thanks for any help~

[2016-10-12 07:01] #46 closed

[2016-10-12 08:17] acvetkov commented on #46
@zhaiduo, hi.

You have two ways:

1. Checkout new version `2.1.0`.  `node_modules/sinon-chrome/dist`

a. `sinon-chrome.min.js` - stable chrome extensions api
b. `sinon-chrome-apps.min.js` - stable chrome apps api
c. `sinon-chrome-webextensions.min.js` - stable Firefox webextensions api

2. Download budle from [release](https://github.com/acvetkov/sinon-chrome/releases/tag/2.1.0) page

[2016-10-12 08:26] acvetkov commented on #40
`sinon-chrome` has supported webextensions api since `2.1.0` version.

[2016-10-12 08:26] #40 closed

[2016-10-17 19:15] Standard8 opened #48 "Dist files not included in npm download for 2.x releases"
Since 2.x the dist/ files don't appear to be in the releases when installing via npm. Was there a specific reason for this, or has this been missed?

[2016-10-18 07:30] acvetkov commented on #48
@Standard8, I have moved this files to bundle dir.

[code]

[2016-10-18 07:34] Standard8 commented on #48
@acvetkov thanks, not sure how I missed that!

[2016-10-18 07:34] #48 closed

[2016-12-20 10:31] michalczaplinski commented on #11
@acvetkov
Your config almost worked for me - I had to make 2 modifications:

1. Use the unbundled version of `sinon that is inside `node_modules/sinon/lib` instead of `node_modules/sinon/pkg`
2. Add the `$` to the `noParse` rule. Otherwise it would also eagerly cover the `sinon-chrome` package itself!

[code]

[2017-03-02 20:23] freaktechnik opened #50 "Easier testing with browser.runtime.connect/browser.runtime.connectNative"
The stubs currently don't return any value by default, which is fine in general, but connect/connectNative return a Port instance. It'd be nice if there was an easy way to get a prepared Port object, since this package already has much of the infrastructure for the events.

[2017-03-08 14:07] Alino opened #51 "how to handle the global variable in typescript?"
if I use
[code]

typescript gives me error ```error TS2304: Cannot find name 'global'.```

but if I declare global like this
[code]

My tests will fail, because ```chrome``` is not defined on the separate file that I am writing tests for.

[2017-03-08 14:19] Alino commented on #51
ok I was able to work around this by doing this

[code]

[2017-03-08 14:19] #51 closed

[2017-03-08 14:29] acvetkov commented on #51
Hi, @Alino .

`global` is Node.js [global](https://nodejs.org/api/globals.html#globals_global) object.
You should use `window` object, if you run your tests under browser.

[2017-04-20 11:10] sagorshkov opened #53 "Chrome Application runtime"
Hello. I'm using your awesome module to mock chrome application object in my tests and I've got an issue. Method **chrome.runtime.getManifest()** returns undefined, but there is something like this in my code: **chrome.runtime.getManifest().version**. I've tried to redefine **getManifest** method but It's not possible because of the descriptor of this property is:

Is there a way to compel getMani

[2017-04-20 11:17] acvetkov commented on #53
@sagorshkov hi!

You should not redefine `getManifest`, it's already sinon stub without predefined behavior.
Just define returning value

[code]

[2017-04-20 11:26] sagorshkov commented on #53
Awesome! Thank you.

[2017-04-20 11:26] #53 closed

[2017-04-28 21:07] warent opened #55 "chrome.storage.local.get never executes"
I'm testing with Jest 19.0.2, and when I try to use:

chrome.storage.local.get(key, val => console.log(val))

It will never actually execute the anonymous function and log anything. Is this expected behavior?

[2017-04-28 21:27] acvetkov commented on #55
@warent hi!

`chrome.storage.local.get` is sinon [stub](http://sinonjs.org/releases/v2.1.0/stubs/), you should define behavior.

[code]

[2017-04-28 23:14] warent commented on #55
That's it. Sinon is new to me; definitely will do some reading. Thank you for the help :)

[2017-04-28 23:14] #55 closed

[2017-05-04 13:21] mabumusa1 opened #56 "Using Sinon-Chrome"
I am writing this issue out of desperation, I talked to seven developers to help with my goal testing a screen recording I am writing and none manged to help me with this. so here is the case.

I am building a screen recording and I am using Karma, Mocha, Sinon, and Sinon-Chrome to test it, I use Chrome APIs heavily `desktopShare, Storage, gcm`. I followed the instructions of installation but I st

[2017-05-04 13:26] acvetkov commented on #56
Hi, @mabumusa1 !
Can you show `app/scripts.babel/background` script?

Do you run tests under browser?

[2017-05-04 14:51] mabumusa1 commented on #56
Thanks @acvetkov, here is the code I am working on

https://github.com/mabumusa1/chrome-ext/blob/testing/app/scripts.babel/background.js

I run tests using Karma, under phantomJS

To give you a quick overview of this code, we mount the file system, allow OneSingal notifications, then prepare the events page to listen to events

[2017-05-04 16:57] acvetkov commented on #56
Did you patch `window` object with `sinon-chrome`?

[code]

[2017-05-05 08:56] acvetkov commented on #56
Can you try include `sinon-chrome/bunlde/sinon-chrome.min.js` instead of

[code]

You should include this script in same context as your tests.

[2017-05-05 09:01] acvetkov commented on #56
`karma-sinon-chrome`  **does not** use the latest `sinon-chrome` version.
latest `sinon-chrome` - 2.2.1
latest `karma-sinon-chrome` depends on [1.1.2](https://github.com/9joneg/karma-sinon-chrome/blob/master/package.json#L7)

[2017-05-05 09:10] mabumusa1 commented on #56
I noticed that so I changed the `karma-sinon-chrome` to use the latest version 2.2.1 this the change I made in `karma-sinon-chrome`

[code]

I explicitly referenced the latest version

[2017-05-05 09:43] acvetkov commented on #56
It's valid behavior, because methods defined via getters.
https://github.com/acvetkov/sinon-chrome/blob/master/src/api/index.js#L79

I find out reason of your problem. You test chrome app, not chrome extension.
You should include chrome app stub.
https://github.com/acvetkov/sinon-chrome#usage

For mock apps Api

[code]

[2017-05-05 10:33] mabumusa1 commented on #56
I tested with both `sinon-chrome/apps` and `sinon-chrome/extensions`, it worked with `app` on `'chrome.app.runtime'` but it when the excution completes I got a another error `chrome.windows.onCreated`.

I have two questions
1- Do I have to create spys for each api call?  or what is the best practice, since objects are returned empty.

2- for chrome.app.runtime, it is used inside a vendor libaray `

[2017-05-05 11:31] acvetkov commented on #56
Are you developing chrome app?
Why are you using `chrome.windows`, which should be used for chrome extensions?

You should use `chrome.app.window`.
Chrome apps api does not support `chrome.windows.*` namespace.

No. `sinon-chrome` provides it by default.
All chrome api methods is [sinon stubs](http://sinonjs.org/releases/v2.1.0/stubs/), you should define behavior for it.
[code]

[2017-05-05 11:37] mabumusa1 commented on #56
I am developing a Chrome extension, so all the API calls I am using are
from the extensions namespace.

The reason of `app` existing is a vendor library called `OneSignal` which
check if the environment is an app, so the test fails on that.

I will check again based on your response today and get back to you.

Hopefully it will work this time

On Fri, May 5, 2017, 2:31 PM Aleksey Tsvetkov <notific

[2017-05-06 06:44] ilyaigpetrov commented on #30
Still an issue with sinon-chrome 2.2.1:
[code]

[2017-05-06 09:45] ilyaigpetrov commented on #30
I propose these dirty fixes for your review. You may produce a cleaner code from them or guide me how to do it, because I don't yet understand the architecture of the project:

1. Are namespaces hierarchical? Seems like you have a plain list of stubs, but should be a tree.

# Dirty Fixes For 2.2.1
[code]
[code]
[code]

[2017-05-07 09:02] ilyaigpetrov commented on #30
Proposed a pull request: #57

[2017-05-07 21:08] acvetkov commented on #30
@ilyaigpetrov hi.

I have no reason to add same functionality for api methods, since sinon-chrome@2 has released.
You can override all logic behavior , using sinon stubs api.

For define custom logic, like topic starter wants, you should use [callsFake](http://sinonjs.org/releases/v2.2.0/stubs/) method from sinon stub.

[2017-05-10 13:55] kaimdx opened #58 "Sinon-chrome with Jasmine?"
I am fairly new to (Chrome extension) testing and started with Jasmine (https://jasmine.github.io/). Then I realised that I need to 'stub' out many Chrome API functions for testing and found sinon-chrome, which is great. Is it possible to use sinon-chrome together with jasmine (and how?), or you have to choose one between sinon and jasmine?

[2017-05-11 14:18] acvetkov commented on #58
Hi, @kaimdx
What problem you have with jasmine? You can use `sinon-chrome` stubs with jasmine assertations. I think it should works.

[2017-05-12 09:40] kaimdx commented on #58
No, I don't have any specific problem yet. I am just wondering if the two would work together. After reading a bit more, I came to the same conclusion that the two should work together (which is a good news for me). I will try it out now and let you know if I have any problem.

[2017-05-12 10:56] acvetkov commented on #58
I will be happy to help

[2017-05-31 13:28] phongvis opened #59 "Usage example: second test fails"
I forked the project and tried to run the usage example but the second test is failed at `assert.calledOnce(chrome.browserAction.setBadgeText);`. The callback in `chrome.tabs.query(params, callback);` isn't invoked.

Here is my fork: https://github.com/phongvis/sinon-chrome with the following changes:
- package.json: add `test-background` option for `npm-run` and install jsdom
- the extension file

[2017-06-01 09:49] #58 closed

[2017-06-01 10:04] kaimdx opened #60 "Is it possible to run sinon-chrome test without node.js?"
I am currently learning to test my extension using Jasmine following this setup, which doesn't require node.js:
https://gist.github.com/stevenqzhang/333fd0b2bca201aabaa40c7b63a74296

All the sinon-chrome examples seem to run test using node.js. Is it possible at all to run sinon-chrome test without node.js? If so, any example will be great.

Thanks,

[2017-06-05 14:36] acvetkov commented on #60
Hi.

You can use [sinon-chrome.min.js](https://github.com/acvetkov/sinon-chrome/releases)

[2017-06-12 18:37] MatonAnthony opened #61 "browser.runtime.connect returns undefined making testing difficults"
Hello,

I'm not sure to understand everything yet but I'm currently trying to write test on my webextension using sinon-chrome and I got difficulties because it stubs `browser.runtime.connect()` to undefined where `browser.runtime.connect()` returns a `runtime.Port` which contains event and methods.

A workaround like this is working for a test file when I'm testing if thing arrives on the event
[

[2017-06-13 12:43] acvetkov commented on #61
@MatonAnthony hi!

You should define behavior for `browser.runtime.connect`.
Before your test

[code]

[2017-09-05 09:42] kangaro0 opened #62 "Question: How to send response messages, if my code sends messages"
Hey,

I'm trying to test my extension's popup code. The popup has a init function which catches data from the background page. In order to do that the popup sends a request to the background page via `chrome.runtime.sendMessage( ... )`.

Now I tried different approaches how to 'fake' the response from the background page, currently I'm trying this [approach](https://github.com/kangaro0/Freewar-Hel

[2017-09-05 09:47] acvetkov commented on #62
@kangaro0 Hi.

Chrome api is just stubs without any behavior.
You should manually trigger event in your case.

[code]

[2017-09-05 09:51] kangaro0 commented on #62
Alright. I was on the wrong path here....
Thanks!

[2017-09-05 09:51] #62 closed

[2017-09-06 16:07] #60 closed

[2017-09-20 14:05] myrdd opened #63 "please update WebExtensions schema to Firefox 55"
According to your [readme](https://github.com/acvetkov/sinon-chrome/blob/35def48c793244e087e0444c59a0e14d2460f4c2/readme.md), the schema for WebExtensions bases on Firefox 49. However, the current stable version is 55. Please consider updating to Fx55.

[2017-09-25 20:31] kaimdx opened #64 "How to test DOM update without displaying the page?"
Hi,

I am using Sinon-Chrome to test a Chrome extension. One of the functions is that user can highlight text on a web page. This is how I think I can test this with Sinon-Chrome:
1. Send the extension an text selection event (using Sinon-Chrome);
1. The extension updates the DOM to change the text background;
1. Check if the background of the selected text is changed, such as marked with `<mark>`

[2017-09-25 20:42] kaimdx opened #65 "How to mock test user authentication (hello.js and google+)"
Hi,

I am working on a chrome extension that requires user to sign in and using hello.js to handle the authentication with different oauth services. So far I am only using google+ authentication because this is a chrome extension and user should have a google account.

I want to 'mock' the google+ authentication service using sinon-chrome, so the extension does not have to communicate with google+

[2017-10-28 06:55] errorx666 opened #66 "chrome.storage.local.get === chrome.storage.sync.get"
[code]

I found this after hours of trying to figure out why my test was failing where I was testing that my extension loads from sync storage and not from local storage.

[2017-11-19 14:45] crimx opened #67 "Stub not working with sinon.match"
I'm having trouble making sinon-chrome stubs work with `sinon.match`.

I use webpack, karma, mocha and sinon-chai. The test code below may reproduce the error.

It looks like sinon-chrome's stub doesn't recognize `sinon.match` and treats it like a normal object. The error is "*AssertionError: expected stub to have been called with arguments hasOwn("key")%D*", while it should be "*arguments **match

[2017-12-29 19:13] herodrigues commented on #59
See https://github.com/acvetkov/sinon-chrome/issues/42

[2018-01-05 19:56] arantius opened #68 "Please document how to use browser / webextension API in tests"
Here's a reduced test case: https://gist.github.com/arantius/33d318f57ced2f1b7ef5c49740b00e01

Try to use sinon-chrome, with `browser` API.  Fail.  `chrome` here works (well, doesn't crash before Karma initialization does, for this reduced case).  Documentation claims both APIs are supported, but I can't tell how.

[2018-01-06 21:01] Sxderp commented on #68
I've been looking into this, and this is what I've found.

Firstly, loading `sinon-chrome` as a [framework](hhttps://gist.github.com/arantius/33d318f57ced2f1b7ef5c49740b00e01#file-karma-conf-js-L6) requires the `karma-sinon-chrome` package. However, this package [requires an older version](https://github.com/9joneg/karma-sinon-chrome/blob/27c5491e04ac41e1aab63a28b355f93883ce70a0/package.json#L7) o

[2018-01-07 18:21] acvetkov commented on #68
@arantius hi. your problem is related to `karma-sinon-chrome`, not `sinon-chrome`.
`karma-sinon-chrome` uses old dependency.

@Sxderp you are great!

[2018-01-07 18:22] #59 closed

[2018-01-08 14:45] arantius commented on #68
Thanks for the confirmation of that.  I'm working on a PR ( https://github.com/9joneg/karma-sinon-chrome/pull/5 ) with them to get their internal dependency updated.

So I've updated the originally linked example, to use my updated branch.  I still get the same `ReferenceError: browser is not defined`.  Does the above ("... the global object name is 'chrome' is that the auto-bundler (webpack) is c

[2018-01-08 15:46] Sxderp commented on #68
Just to be completely clear I want to take a step back. Some of the following you might already know.

Node packages are created in such a way that all public facing APIs must be assigned to `module.exports` where `module` is a global reference to the current 'package' that Node handles itself. This package, `sinon-chrome` uses the native `export default` syntax. Which is slightly different but fo

[2018-01-08 15:57] Sxderp commented on #68
Alternatively, although much more work you could modify the code your testing (in this case Greasemonkey) to use a module.exports structure with either [requireJS](http://requirejs.org/) or natively (I don't think FF supports this). Then you would be able to test your code directly in Node without having to serve the files like Karma does.

Probably not the best idea.

[2018-01-15 10:18] #66 closed

[2018-01-17 17:00] crimx opened #70 "v2.2.2 is broken"
It seems like the Github project is published to NPM. `require('sinon-chrome/extensions')` and `require('sinon-chrome/webextensions')` break on v2.2.2.

And #69 is not correctly built.

[2018-01-17 17:01] acvetkov commented on #70
just a minute

[2018-01-17 17:07] acvetkov commented on #70
try this one
https://www.npmjs.com/package/sinon-chrome v2.2.3

[2018-01-17 17:07] #70 closed

[2018-01-17 17:19] crimx commented on #70
Thanks @acvetkov . #69 is fixed but `require('sinon-chrome/extensions')` and `require('sinon-chrome/webextensions')` are still break.

I think `"main": "out/index.js"` in package.json should be changed to `"main": "index.js"`.

And publish the NPM package within `./out`.

[2018-01-17 18:29] acvetkov commented on #70
Fantastic fail.

I will fix tomorrow.

[2018-01-17 21:55] sookinoby opened #72 "Examples not clean"
Hi,
I am unable to understand run the examples in wiki page at it uses  jsdom.env function, which is not supported by jsdom any more. Also, the wiki page example looks different from usage example, in readme.
Also how to test a plugin developed using https://github.com/HaNdTriX/webextension-toolbox ?
Can you please provide some suggestion ?

[2018-01-19 08:53] acvetkov commented on #67
Is this problem related to https://github.com/acvetkov/sinon-chrome/issues/66 ?

[2018-01-19 08:59] acvetkov commented on #72
1. About `jsdom`: I think this doc is not actual, I should modify (remove) it.
2. Can you provide more info? What difficulty with this tool?

[2018-01-19 09:26] crimx commented on #67
No I think it was related to Sinon. I was using vue-cli which generates Sinon v4.x dependency. I think it might not be compatible with Sinon Chrome.

Anyway I ended up using jest with sinon-chrome.

[2018-01-19 20:08] sookinoby commented on #72
Regarding 2
const chrome = require('sinon-chrome');
// or
const chrome = require('sinon-chrome/extensions'); // This does work, what is the difference using sinon-chrome and the extensions?
Also, can you provide an example to over ride browser.extension.onConnect.addListener in background.js.

By test code :
describe('background page', function () {

  beforeEach(function () {
    global.browser =

[2018-02-08 20:33] Dakad opened #74 "How to remove the registred plugin ?"
I'm writing some unit test for a chrome-extension and I was testing the function that uses `chrome.i18n.getMessage()`. Each test passes smoothly at first but I have to skip the second test on the specific function.
![image](https://user-images.githubusercontent.com/3106338/35995805-c475c964-0d14-11e8-8bed-30c2a0582cc4.png).

But after testing my function by removing the `skip` at line 57, that hap

[2018-02-14 15:58] acvetkov commented on #74
Unfortunatelly, there is no way to remove registered plugins.
Feel free to open pull request!

[2018-03-02 08:26] stoically commented on #68
One way to test completely in Node without exporting the system under test using module.exports is to just assign `browser` on `global`, then `require` the production code and finally wait until `process.nextTick`. [Here's an example how to do so](https://github.com/stoically/webextensions-api-fake#nodejs-example).

Another way would be to have something like `if (module && module.exports) { modul

[2018-03-04 06:17] stoically commented on #67
I've encountered the same issue, it seems that it's not possible to use `sinon.match` if `sinon` isn't the very instance `sinon-chrome` is using internally.

[2018-03-04 19:19] stoically commented on #67
Here's how one can reproduce:

* Create folder `test`
* Create folder `1` and folder `2` inside `test`
* Inside `test/1`: `npm install sinon`
* Inside `test/2`: `npm install sinon-chrome`
* Inside `test/2` create `test.js` with the following content and execute with `node test.js`

[code]

### Actual result

[code]

### Expected result

[code]

### Note

This is a rather fabricated example, but I'

[2018-03-05 01:18] crimx commented on #67
I think peer dependency is for this kind of issue. How about making sinon a peerDependency `<5.0.0`.

[2018-03-05 01:54] stoically commented on #67
I'd agree that's a good idea. This can be a really time-consuming edge-case, compared to an initial "you have to install sinon yourself"-hint to get it working (in a reliable way).

[2018-04-06 06:49] chinesedfan commented on #63
Is there a tool to update it, or manually?

[2018-05-29 13:04] hankypanky666 opened #78 "How to set permisssionLevel for notifications?"
Hi! How to set permisssionLevel for notifications?
I need to test this method:
[code]
and test:
[code]
I don`t understand why getPermissionLevel return 'denied'(((
Plss help!

[2018-06-18 13:11] bboydflo opened #79 "question(s): how to trigger client connection"
I am not sure exactly how to actually trigger a connection using sinon-chrome.
Here is my test:

[code]

This seems to work but I am not sure why. I was expecting that I don't need to call `    browser.runtime.onConnect.trigger();`

What is the best way to improve documentation? I have a hard time using `sinon-chrome` as a new user.

[2018-08-24 07:12] ThiliniJ opened #80 "Reference error :Can't find variable mocha"
When I run the example, I'm getting following error. Please help to solve it. Thanks in advance.

![image](https://user-images.githubusercontent.com/42538282/44570276-e135c600-a79a-11e8-9b1c-b93f5c4dbb6c.png)

[2018-09-19 13:37] ajeet97 opened #81 "value is undefined for QUOTA_BYTES_PER_ITEM"
I get `undefined` when I use `chrome.storage.sync.QUOTA_BYTES_PER_ITEM`, or any other `sync` properties.

[2018-09-27 10:01] Raigasm opened #82 "Usage with Jest - ReferenceError: chrome is not defined"
I'm getting `ReferenceError: chrome is not defined` when trying to use `sinon-chrome` with Jest.

Can anyone help me get this working?

[2018-11-07 11:35] marcus-sa commented on #82
You can extend the Jest behavior by providing a test setup file. You can find everything about this in their documentation.
Simply apply the sinon-chrome module to global.chrome in the setup file.

[2018-12-24 10:45] ddehghan commented on #50
After a lot of waisting time i managed to get this work. Put that in your test.ts in an angular app. Or some other setup environment file if you are using a different framework.

`
import * as chrome from 'sinon-chrome';
(window as any).global.chrome = chrome;

/*
  Mock-implementation of chrome.runtime messaging API
*/
const Messager = () => {
    const _listeners = [];

    return {
        onMe

[2018-12-24 10:49] ddehghan commented on #61
also there is a solution in https://github.com/acvetkov/sinon-chrome/issues/50

[2019-01-16 10:16] #61 closed

[2019-02-21 22:04] dvlden commented on #82
Any updates on this? I am unsure what @marcus-sa meant, I am first time using any testing library.

[2019-02-25 14:43] dvlden commented on #82
I think @marcus-sa was referring to something like this:

[code]

However, this was not my issue. My issue is that I am using `webextension-polyfill` in most of my classes for the extension project and I couldn't test a single one, because `chrome` is not defined.

Just importing the class would throw such error, without any other needs.

How I managed to fix this? - Easy.

Below all your module i

[2019-04-17 00:00] iamogbz commented on #82
Personally had to
[code]
before I could use the module

[2019-04-19 13:49] JackZong opened #86 "since this library supports chrome and supports forefox, why not change the name to sinon-WebExtension"

[2019-04-19 14:23] JackZong opened #87 "How can I update the Firefox WebExtensions schema to the latest stable version"
The latest stable Firefox is 66.0.

[2019-04-22 13:33] acvetkov commented on #86
for historical reason

[2019-04-22 13:33] #86 closed

[2019-05-05 10:18] asamuzaK opened #88 "Test fails"
When I ran `npm test`:
[code]

[2019-05-05 12:51] asamuzaK opened #89 "Proposal: module for WebExtensions schemas"
Hi,
I created a module that fetched and saved the WebExtensions schema directly from hg.mozilla.org.
[asamuzaK/webext-schema: WebExtensions schemas fetched from hg.mozilla.org](https://github.com/asamuzaK/webext-schema)

It is still under development, but I think that with this module, sinon-chrome will no longer has to worry about WebExtensions schemas.
And this module should fix #63 and #87.

At

[2019-05-11 19:45] jeremiahlee opened #90 "`chrome.alarms.getAll()` returns `undefined` instead of array of alarms"
[`chrome.alarms.getAll()`](https://developer.chrome.com/extensions/alarms#method-getAll) should return an array of alarms. However, it is returning `undefined` using v3.0.1.

[code]

[2019-05-11 21:20] jeremiahlee commented on #90
Apologies. I did not realize these were API stubs, not for faking behavior.

[2019-05-11 21:20] #90 closed

[2019-06-03 08:01] JackZong commented on #90
so, is that all of the returning should be mocked by self?
And all of the returning should be mocked by `.returns()` ? is it right? thanks

[2019-07-13 10:36] manuel114 opened #91 "Integration testing and Native Messaging"
Hello,

I have built a chrome extension that uses native messaging to run a python script in the client machine. I am now trying to test everything and although I think I can do unit testing with sinon-chrome I'm not entirely sure if I can do integration testing since i can't manage to get chrome.runtime.connectNative(...) to return a port instance.

Any help?

Thank you!

[2019-07-16 21:37] ryan0122 commented on #82
I was getting the same error so I had to declare` window.chrome = chrome` before including my .js file to be tested.

[code]

[2019-07-18 13:16] Bartleby2718 opened #92 "Types and Properties Missing in @types/sinon-chrome?"
I'm not sure if this is the right place to ask, but here we go.

I recently created a Chrome extension using TypeScript and decided to add some test codes using [Jest](https://github.com/facebook/jest). Then I found [a StackOverflow answer](https://stackoverflow.com/a/26779746/4370146) that led me to this repository.

Because my project uses TypeScript, I needed to install [@types/sinon-chrome](ht

[2019-07-24 12:44] Raigasm commented on #82
Thanks everyone. I'm thinking about submitting a PR to add these to the docs

[2019-08-15 20:29] ariasuni commented on #89
Any news about this? I can’t use `sinon-chrome` because it doesn’t support [`browser.menus`](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/menus), for example.

[2019-09-24 10:44] riteshbathwal opened #93 "How to write tests for code in content_scripts of chrome extension?"
I have a chrome extension which have several .js files added as "content_scripts". All content_script file communicate with each other and have functions which modify the content of the page on which it is used.

I would like to know how to write tests for the functions defined in the content_script files. Do you have any example setup showing similar scenario?

[2019-10-01 22:54] ariasuni commented on #92
It seems that [web-ext-types](https://github.com/kelseasy/web-ext-types) has the definitions you want.

[2019-10-21 09:08] maximedb opened #95 "chrome.storage.onChanged.addListener"
How would you mock `chrome.storage.onChanged.addListener` with sinon-chrome ?

Thanks!

[2019-11-21 17:15] stoically commented on #87
Until `sinon-chrome` is updated, you could look into my [`webextensions-api-mock`](https://github.com/stoically/webextensions-api-mock). Reason for building was that I wanted to be able to easily update the API and have typescript types for the stubbed API.

[2019-11-21 17:47] stoically commented on #89
My [`webextensions-schema`](https://github.com/stoically/webextensions-schema) might also be of interest, it automatically fetches the latest stable schema. I've built it as basis for [`webextensions-api-mock`](https://github.com/stoically/webextensions-api-mock).

[2020-01-24 22:36] dsrini-open opened #97 "Version 3.0.X not available in Releases or tags"
These versions could not be found in the repo.

But npm.js or registry.yarnpkg has these versions.
Please verify - https://www.npmjs.com/package/sinon-chrome

[2020-02-08 09:06] asamuzaK commented on #89
I'll close this issue.
[webext-schema](https://github.com/asamuzaK/webext-schema) now creates the stubbed browser API

[2020-02-08 09:06] #89 closed

[2020-02-14 15:22] jdelafon opened #98 "Cannot use hasListeners(), _listeners instead"
I cannot use this:
[code]

But I can do this instead (which my IDE and myself don't like much):
[code]

Looks like a bug to me, is it?

[2020-02-22 10:27] thamaraiselvam opened #99 "Withargs not working for oncommand listerners"
[code]

[code]

following code support to return `true`
[code]

[2020-05-06 19:51] jobara opened #100 "sinon-chrome-webextensions.min.js uses the chrome namespace"
When trying to use sinon-chrome-webextension.min.js for unit tests in a web browser, it does not stub the `browser` namespace but rather the `chrome` namespace. This requires a workaround in the test to remap the namespace to `browser` from `chrome`. Ideally the sinon-chrome-webextension.min.js uses the `browser` namespace as it's intended to mock those APIs.

I'm not sure if this is the issue, bu

[2020-07-22 14:51] faameunier opened #101 "sinon-chrome doesn't support promises for async functions"
Hi,

Something along the lines of
[code]
will fail as getBadgeText return `undefined` instead of a promise (which is a supported way to work with the webExtension API).

As a side note, I tried to implement a fix for #94 but it fails due to properties ref and the code is a bit too obscure for me on that part haha.

Thanks !

[2020-08-06 16:29] GrayedFox opened #102 "Spying on browser.notifications.create fails with "attempted to wrap undefined property...""
Hello, the following code errors with "TypeError: attempted to wrap undefined property create as function" even though create is a valid and defined method of the notifications API.

[code]

Both the menus and notifications spies fail with the same type error.

Am I doing something wrong here?

[2020-08-07 09:52] GrayedFox commented on #102
I debugged the notification and menu objects and realised that the create method is technically a getter.

Changing `sinon.spy(browser.menus, 'create')` to `sinon.spy(browser.menus, 'create', ['get'])` solved it, as per the Sinon getter spy/mock syntax.

[2020-08-07 09:52] #102 closed

[2020-08-29 19:37] davestewart opened #103 "How to use with mozilla/webextension-polyfill ?"
Hi,

**Background:** I'm OK with basic unit testing, but am going to have to up my game to start working with stubs and spies and such like.

**Question:** is it possible to use [mozilla/webextension-polyfill](https://github.com/mozilla/webextension-polyfill) with this library?

My extension is completely written with it, and I thought I would just be able to import the lib before importing my cod

[2020-08-30 00:24] nickmccurdy commented on #103
This fixed it for me https://github.com/mozilla/webextension-polyfill/issues/218#issuecomment-584936358

[2020-09-02 18:41] nickmccurdy opened #104 "chrome.runtime.id should be a non-empty string"
Various libraries like `webextension-polyfill` expect `chrome.runtime.id` to be a non-empty string. This causes several issues integrating `sinon-chrome` such as https://github.com/mozilla/webextension-polyfill/issues/236 and #103. While `sinon-chrome` can't guess the exact id, using something like `"testid"` (suggested in https://github.com/mozilla/webextension-polyfill/issues/218#issuecomment-58

[2020-09-12 16:57] davestewart opened #105 "Storage API example"
Hi there,

**Feel free to close this ticket as it's a question rather than support, but...**

I'm new to Sinon and have done some basic tutorials to get the very basics, but how would one write a Jest test to check storage has been updated?

My use case is that I'm writing an upgrade routine to migrate between extension versions. It has to read, transform, and finally write stored user data to sto

[2020-09-15 12:37] davestewart commented on #105
OK, I figured it all out in the end. Thanks.

[2020-09-15 12:37] #105 closed

[2020-10-06 15:47] TheDirigible opened #106 "chrome.management.getAll(callback) never calls the callback, so test freezes"
If I need to override this manually, please let me know how.

[2020-10-06 16:11] TheDirigible commented on #106
I figured it out.  Added the line:
chrome.management.getAll.callsArgWith(0, blah);

[2021-07-19 13:09] melink14 opened #108 "`calledWith(sinon.match(...))` matcher fails even when `calledWithMatch` passes"
dependabot recently tried upgraded my sinon from 7.5 to 11.1 and I was surprised when my tests started failing.

Because they fail when I use native or chai sinon assertions but they don't fail if I use a normal sinon.spy() spy, I thought I would file an issue here. (Especially since the sinon inside of sinon-chrome is quite a bit older than 11.1)

Details:
Assertion:
[code]

This fails with:
[cod

[2021-07-20 09:02] chris-moore-sonocent opened #109 "Bump `urijs` to 1.19.7"
An advisory has recently been published encouraging people to upgrade their `urijs` dependency to version 1.19.7 or later: https://www.npmjs.com/advisories/1766. Could you please bump the version and ship a release so that others can avoid this vulnerability? Thanks in advance!

[2021-07-21 08:05] nikoisonfire commented on #105
At least post your solution lmao.

[2021-08-03 16:19] davestewart commented on #105
I think it was more figuring out how Sinon works, vs any particular solution :)

[2022-04-19 16:05] belizar opened #110 "Question: It will support declarativeNetRequest namespace?"
I updated my chrome extension to manifest v3, also I see that declarativeWebRequest is deprecated, and the recomendation is tu use declarativeNetRequest namespace which is not supported on sinon-chrome.

Thanks

[2022-10-13 09:54] chrmod opened #111 "chrome.runtime.getPlatformInfo does not fire its callback"
Simplest setup
[code]
results in no output.

[2022-11-18 00:35] Josmithr opened #112 "Updating Chrome schemas"
I'm attempting to write some tests for a Chrome Manifest V3 extension, but the current Chrome schemas exported by sinon-chrome are missing a number of newer APIs used by V3 extensions (e.g. [chrome.action](https://developer.chrome.com/docs/extensions/reference/action/)).

Are there any plans to update the schemas?